<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link rel="text/stylesheet" href="{{asset('libproject/dist/css/bootstrap.min.css')}}">
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
    {% block body %}
    {% endblock %}
    {% block javascripts %}
        <script src="{{asset('libproject/dist/js/bootstrap.min.js')}}"></script>
    {% endblock %}
</body>
</html>
